



/* Hover effect for the button */
.__input-container button:hover {
    background-color: rgb(249,70,249); /* vim magenta */
}

/* Hover effect for the button */
.__input-container label {
    color: white;

}



/* 
 * global font styles
 */
textarea, button, input, span, div, label, select{
    font-family: 'SF Mono', Consolas, 'Roboto Mono', 'Source Code Pro', Monaco, monospace;


}

label{
    color: white;

}


body {
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: cyan;
    background-color: #262626; /* background gray*/
}

div, span{
    padding: 0px;
    margin 0px;

}



.help{

    display: none;
    color: red;
    font-size: 14px;
}

#toggleHelp{

    color: red;
}


/* 
 * margin bottom must macth inputwrapper height
 * postion: fixed and bottom:0 keep text box at bottom
 * 
    display: flex;
 */
#pageContainer{
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    border: none;
    background-color: #262626; /* background gray*/
    background-color: pink; /* background gray*/
    background-color: #262626; /* background gray*/
    background-color:	#1B1212;
}



/* 
 * notes
 * 
 * any input color should be light gray
 *
 */

/* 
 * ============ Wrapper ===========
 * top-wrapper class is full width elemnt
 * the top levle in pageContainer
 *
    border: 1px solid white;
 */

.top-wrapper{
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    box-sizing: border-box; /* includes padding/ border in content width*/
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;

}

#tabWrapper{
    height: auto;
    padding: 0px;
    padding-bottom: 15px;
}

#pageWrapper{
    height: auto;
    overflow: auto;
}

#consoleWrapper{
    display:none;
    overflow: auto;
    height: 100px;
}

#inputWrapper {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-section{
    background-color:	#1B1212;
    padding-left: 5px;
    padding-right: 5px;

}



/* 
 * =========== tabs ===========
 */

.tab-button {

    color: white;
    background-color: #878787;

    box-shadow: none;
    border: none;
    text-decoration: none;
    font-size: 15px;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    width: 200px;


}

#tabButton0{
    background-color:	#1B1212; /*background black*/
    color: magenta;

}





/* 
 * =========== response container ===========
 */


.response-container{
    margin: 0px;
    padding: 0px;

}


/* 
 * display console output
 */


#consoleOutput{

    width: auto;
    height:100%;

    overflow: auto;

    border: 2px solid magenta;
    border-radius: 2px;
    padding: 0px;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;

}



/* 
 * margin bottom must macth inputwrapper height
 * postion: fixed and bottom:0 keep text box at bottom
 * 
 *
 */



/* 
 * show hide methods
*
    display: flex;
    flex-direction: column;
*/
#toolTestContainer{
    box-sizing: border-box; /* includes padding/ border in content width*/
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}



/* 
 * show hide methods
 * button
 */
.tool-call-class-title{
    display: inline-block;
    margin: 0px;
    font-size: 16;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid pink;
    border-radius: 5px;

}

.tool-row{
    box-sizing: border-box; /* includes padding/ border in content width*/
    vertical-align: top;

    margin-right: 0px;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    padding:0px;

    border-radius: 5px;

    border: 1px solid cyan;

}

/* call function method button */
.tool-call-button{
    box-sizing: border-box; /* includes padding/ border in content width*/
    display: inline-block;
    font-size:14px;
    vertical-align: top;
    text-align: left;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;

    margin: 0px;

    width: 250px;
    min-height: 30px;
    border-radius: 5px;
    white-space: normal; /* Allow text to wrap */
    word-break: break-word; /* Break words if necessary */

}


.function-input-container{
    box-sizing: border-box; /* includes padding/ border in content width*/
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    margin: 0px;

    margin-left: 5px;
    margin-right: 5px;

    min-height: 30px;
    min-width: 100px;

    border-radius: 5px;
    word-break: break-word; /* Break words if necessary */
}


.function-input-container textarea{
    box-sizing: border-box; /* includes padding/ border in content width*/
    vertical-align: middle;
    text-align: left;
    font-size:18px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 5px;
    height: auto;
    min-height: 30px;
    min-width: 50px;
    max-width: 100%;
    border-radius: 5px;
}




/* tool test title, buttons and input boxes*/
.toolClassContainer{
    width: auto;
    font-size: 12px;
    color: white;
    min-width: 5ch;

    border: 1px solid magenta;
    border-radius: 3px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;

    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 3px;
    margin-top: 3px;

}

.toolCallClassTitle{
    width: auto;
    font-size: 14px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    padding-bottom: 1px;

}



/* tool test button and input boxes*/
.tool-row{
    display: block;
    width: auto;

    font-size: 14px;
    color: white;
    margin-left: 10px;
    margin-right: 1px;
    margin-bottom: 1px;
    padding-bottom: 1px;

}





/*
 * ===== Input container  =====
 */


#textSizeInput{
    width: 50px;
}

#promptTextInput{
    box-sizing: border-box;
    padding: 10px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    font-size: 20px;

    border: 2px solid white;
    background-color: #303030;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px; /* Space between the textarea and the button row */
    resize: vertical;
}




#submitRow{

    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Pushes left and right groups apart */

    padding-right: 20px;

}


#submitButton{
    border: 3px solid magenta;
    padding-right: 10px;
    padding-left: 10px;
}

#submitRow button{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.left-group, .right-group {
    display: flex;
    gap: 10px; /* Adds spacing between input elements */
}

.right-group {
    margin-left: auto; /* Moves right-group to the right */
    margin-right: 10px;
}

.submit-button-row {
    display: flex;        /* Use Flexbox to arrange buttons in a row */
    justify-content: flex-start; /* Align buttons to the start of the container */
    margin-bottom: 15px; /* Space between the textarea and the button row */
    gap: 10px;            /* Space between the buttons */
}



.input-container{
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start; /* Align buttons to the start of the container */
    min-width: 100px;
    max-width: 300px;
    max-height: 200px;
    min-height: 30px;
    overflow: auto;
    border: 0px solid magenta;
    place-items:center;
}


.test-content{
    font-size: 100px

}

.setting-row {
    display: flex;        /* Use Flexbox to arrange buttons in a row */
    box-sizing: border-box;
    justify-content: flex-start; /* Align buttons to the start of the container */
    margin-bottom: 5px; /* Space between the textarea and the button row */
    gap: 10px;
    margin-right: 5px;
    margin-left: 5px;
}


.input-container button{
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid pink;
    min-height: 30px;

}

.input-container label{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.input-container input[type="checkbox"]{
    width:20px;
    height:20px;
    margin-right:20px;

}

.input-container input[type="number"]{
    width: 30px;
    font-size: 14px;
    height:30px;
    margin: 0px;
}

.select-container{
    width: auto;
    display: block;
    max-width: 350px;

}

.select-container select{
    display: block;
    min-height: 30px;
    min-width: 130px;
    width: 100%;
    font-size: 14px;
    border-radius: 5px;

}

.select-container button{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.dropdown-label{
    display: flex;
    place-items:center;
    height: 30px;
}

.dropdown-label button{
    min-height:20px;
    font-size: 12px;
    padding: 0px;
    margin: 0px;

}






/* top run container
 *
 *background-color: rgb(0,255,0);
*background-color: rgb(136,249,168); 
* background-color: rgb(55,247,247); green 
 *
 *
 * */





/* 
 * =========== run output ===============t
 *
 */

.run-output {
    box-sizing: border-box;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    padding-right: 0px;
    background-color: pink;

}

.run-container{
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    padding-right: 0px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: darkgray;
}

.log-header{
    background-color:none;
}


.log-response-header{
    padding-left: 20px;
}



/* element type */
.span-info{
    font-size: 10px;
    color: red;
}

.user-text {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: yellow;
    border: 1px solid white;
    background-color: purple;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.log-button {
    margin: 2px;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.function-button{
    margin: 5px;
    color: #00ffff;  /*cyan*/

}

.function-name {
    margin: 5px;
    font-size: 14px;
    color: #00ffff;  /*cyan*/
    color: magenta;  /*cyan*/
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
}

.step-container {
    border: 1px solid black;
    border-radius: 5px;

    margin-left: 20px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #3a3a3a;
    color: white;
}


/*text area*/
.function-body-textarea , .functionBody{
    box-sizing: border-box;
    color: #ff00ff;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    resize: vertical; /*text area wont resize horizontal*/
    background-color: #303030;
}


.function-results{
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 5px;

    min-width: 90%;
    font-size: 12px;
    padding: 10px;
    margin-left: 20px;
    max-height: 400px;
    background-color: #303030;
    color: cyan;
    resize: vertical; /*text area wont resize horizontal*/
    overflow: auto;


}

.display-setting{
    color: orange;

}

.text-response {
    margin-left: 10px;
    color: white;
}



.streamOutput{

}





#sqlContent{
    width:100%;
    height:100%;
    padding: 5px;

}


.sql-row {
    border: 1px solid white;
    margin-top:5px;
    padding: 5px;
    border-radius: 5px;
    height: auto;

}

.sql-row textarea{
    box-sizing: border-box; /* includes padding/ border in content width*/
    vertical-align: left;
    width:100%;
    height: 60px;
    text-align: left;
    font-size:16px;
    padding-left: 5px;
    min-width: 50px;
    max-width: 100%;
    border-radius: 5px;
}

.sql-row button{
    width: 300px;
    height: 30px;
    border-radius: 5px;

}











